.card{
    width: 200px;
    height: 350px;
    border: none;
    border-radius: 5px;
    background: antiquewhite;
    color: navy;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.card:hover{
    cursor: pointer;
    border-radius: 5px;
    background: navy;
    color: antiquewhite;
    scale: 1.2;

}